GENERATED_FRAMEWORK_BUILD=$(SRCROOT)/../../generated-framework/build
GENERATED_FRAMEWORK_INTERMEDIATES=$(GENERATED_FRAMEWORK_BUILD)/Intermediates

MODULE_CACHE_DIR    = $(GENERATED_FRAMEWORK_BUILD)/DerivedData/ModuleCache
OBJROOT             = $(GENERATED_FRAMEWORK_INTERMEDIATES)
SHARED_PRECOMPS_DIR = $(GENERATED_FRAMEWORK_INTERMEDIATES)/PrecompiledHeaders
SYMROOT             = $(GENERATED_FRAMEWORK_BUILD)/Products
